<footer>
	<small>
		<strong>
			<a href="#">My recipes Note Book</a>
		</strong>by <em> <a href="#"> Muhammad umar</a></em>
	</small>
	<nav>
		<ul>
			<li> <%= link_to("About", "#") %>	 </li>
		</ul>
	</nav>
</footer>